@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

div{
    position: fixed;
    top: -10vh;
    transform: translateY(0);
    animation: fall 3s linear;
}
@keyframes fall {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
    }

    100%{ 
        opacity: 0;
        transform: translateY(105vh);
    }
}