@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Space Mono', monospace;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  width: 100%;
  height: 100vh;
  background-color: #c5e4e7;
}

.content .container {
  width: auto;
  background-color: white;
  border-radius: 2em;
  color: #5e7a7d;
  font-weight: 700;
  -webkit-box-shadow: 0 1.25rem 20px rgba(38, 192, 171, 0.118);
          box-shadow: 0 1.25rem 20px rgba(38, 192, 171, 0.118);
}

.content .container .mini {
  width: 100%;
  padding: 2em;
}

.content .container .mini .calculator {
  width: 50%;
  border-radius: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 2em;
}

.content .container .mini .calculator .input {
  margin-top: 10px;
  border-radius: 0.4rem;
  width: 100%;
  background-color: #f4fafa;
  padding: 0.8125rem 0.625rem;
}

.content .container .mini .calculator .input .num {
  all: unset;
  text-align: right;
  width: 100%;
  opacity: 0.7;
}

.content .container .mini .calculator .grid {
  width: auto;
  display: -ms-grid;
  display: grid;
  margin-top: 1em;
  -ms-grid-columns: 31% 31% 31%;
      grid-template-columns: 31% 31% 31%;
  gap: 10px;
  margin-bottom: 2em;
}

.content .container .mini .calculator .grid .tip {
  all: unset;
  color: #f4fafa;
  text-align: center;
  background-color: #00494d;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px thin #26c0ab;
  font-size: 1.25rem;
}

.content .container .mini .calculator .grid .tip:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .container .mini .calculator .grid .tip:last-child {
  font-size: 1rem;
  color: #5e7a7d;
  background-color: #f4fafa;
}

.content .container .mini .calculator .grid .active {
  background-color: #26c0ab;
  color: #00494d;
}

.content .container .mini .calculator .inital {
  margin-bottom: 2em;
}

.content .container .mini .calculator .reset {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #26c0ab;
  color: #00494d;
  font-weight: 700;
  border-radius: 0.4rem;
  padding: 0.5rem 0;
  border: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.content .container .mini .calculator .reset:hover {
  opacity: 0.8;
}

.content .container .mini .calculator .tip_amount {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 31% 69%;
      grid-template-columns: 31% 69%;
  gap: 1em;
}

.content .container .mini .calculator .tip_amount .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container .mini .calculator .tip_amount .text .bottom {
  font-weight: 700;
  font-size: 0.875rem;
  color: #7f9c9f;
}

.content .container .mini .calculator .tip_amount .calculated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1em;
}

.content .container .mini .calculator .tip_amount .calculated h1, .content .container .mini .calculator .tip_amount .calculated h2 {
  margin: 0;
  font-size: 40px;
  color: #26c0ab;
}

.content .container .mini .calculator:last-child {
  padding: 2em;
  background-color: #00494d;
  color: #c5e4e7;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 25% 40%;
      grid-template-rows: 25% 25% 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .container .mini .calculator:last-child .reseter {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (max-width: 50rem) {
  html {
    font-size: 70%;
  }
  .content .container {
    width: 90%;
  }
  .content .container .mini {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .container .mini .calculator {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */