@import "variables";
@import "globals";

.flex{
    display: flex;
    justify-content: center;
    align-items: center;

    &-dc{
        flex-direction: column;
    }
}
.container{
    margin-top: 100px;
    background: url("../../images/pattern-background-desktop.svg") no-repeat;
    background-color: $veryPaleBlue;
    width: 1440px;
    height: 80vh;
    box-shadow: 0 0 50px rgb(226, 226, 226);
    border-radius: 1em;
}


