@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
  box-sizing: border-box;
}


body{ 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:  hsl(0, 0%, 95%);
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: Min(900px, 80%);
  background-color: red;
  border-radius: 0.5em;
}


.card{ 
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: blue;
  padding:2em;
  height: 500px;


}

.card:nth-child(1){
  background-color: hsl(31, 77%, 52%);
}
.card:nth-child(2){
  background-color: hsl(184, 100%, 22%);
}
.card:nth-child(3){
  background-color: hsl(179, 100%, 13%);
}
.card img{ 
  width: 100px;
  height: auto;
}

.type{
  font-size: 35px;
  font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}
.info{
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;

}


.button{
  background-color: red;
  width: fit-content;
  padding: 0.7em 2em;
  border-radius: 2em;
  background-color:  hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  background-clip: text;

}
@media (max-width:600px) {

  .container{
    flex-direction: column;
  }

  .card{
    width: 100%;
    height: 600px;
    justify-content: space-evenly;
    padding: 4em 1em;
  }
  
}

